.scroll-list-wrapper {
	height: 100vh;
	overflow: hidden;
}

.scroll-list {
	list-style-type: none;
}

.scroll-list-item {
	font-size: clamp(2.4rem, 8vw, 12rem);
	font-weight: 500;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	line-height: 1.2;
	padding: 2rem 0;
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
